.custom-modal-form {
    max-width: 400px;
    margin: 0 auto;
}

.custom-modal-form label {
    font-weight: bold;
}

.custom-modal-form input[type="text"],
.custom-modal-form input[type="tel"],
.custom-modal-form input[type="email"],
.custom-modal-form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.custom-modal-form select {
    appearance: none;
}

.custom-modal-form button[type="submit"] {
    width: 100%;
    padding: 0.1rem;
    background-color: #155EB8;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
}

.custom-modal-form button[type="submit"]:hover {
    background-color: #0056b3;
}
